.menu {
    position: fixed;
    z-index: 10030;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 228px;
    padding: 7px;
    background: var(--panel-background-color);
    color: var(--foreground-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 5px 20px #0004;
}
.menu button {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.menu button:hover {
    background: var(--hover-background-color);
}
.menu svg {
    width: 24px;
    height: 24px;
}
